* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Cabeçalho*/
header {
    background-color: #00B7F0;
    color: #fff;
    padding: 25px;
    text-align: center;
    border-bottom: 2px solid #0B73D9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 31%;
    display: flex;
    margin: 1% 1%;
    padding: 15px;
    filter: grayscale(100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:hover {
    background-size: 110%;
    filter: grayscale(0%);
}

.product-image {
    height: 342px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url(../img/dog1.jpg);
}

#img-2 {
    background-image: url(../img/dog2.jpg);
}

#img-3 {
    background-image: url(../img/dog3.jpg);
}

#img-4 {
    background-image: url(../img/dog4.jpg);
}

#img-5 {
    background-image: url(../img/dog5.jpg);
}

#img-6 {
    background-image: url(../img/dog6.jpg);
}

h2 {
    margin-bottom: 10px;
    color: #fff;
    padding-left: 7px;
    font-size: 24px;
}

.card p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
    width: 40%;
    padding: 0.6rem 2rem;
    position: absolute;
    bottom: 25%;
}

.btn:hover {
    background-color: #00B7F0;
    border: 2px solid #00B7F0;
    color: #fff;
}

.dog-name {
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    margin-top: 3rem;
}


/*Footer*/
footer {
    background-color: #00B7F0;
    color: #fff;
    border-top: 2px solid #0B73D9;
    text-align: center;
    padding: 30px 80px;
}